body {
	font-family: 'arial', sans-serif, monospace;
	padding: 2em 2em;
/*	background: #fffdef;*/
/*	background: #f2f1ed;*/
/*	background-image: url("../assets/concrete_wall.png");*/
	background: white;
	color: black;
	font-weight: light;
	font-size: 11px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: red;
/*	box-shadow: */
}
h1 {
	/*font-size: 1.2em;*/
	font-weight: normal;
	margin: 0 0 0.4em 0;
	padding: 0.2em;
	color: red;
	background: #d4d4d4;
	display: inline-block;
}

h3 {
/*	display: none;
*/	color: black;
	font-size: 1.2em;
	font-weight: bolder;
	margin: 4em 0.2em 0 0.2em;
	-ms-transform: skew(30deg,2deg);
  -webkit-transform: skew(30deg,2deg);
  transform: skew(30deg,2deg);
}

h4 {
	color: black;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em 0;
}
ul {
	list-style: none;
	padding: 0.2em;
}
li {
	line-height: 1.4;
}
.box {
	margin: 0.2em;
}
.nav {
	font-size: 1em;
	height: 1em;
	padding: 0.2em;
	border-bottom: solid 1px black;
}
.project {
	border: solid 0px black;
	margin-bottom: 2em;
}
.project h4 {
	display: inline;
	padding-left: 15%;
}
.project p {
	color: grey;
	margin: 0.2em 0;
	padding: 0 15%;
}
.thumbnail {
	width: 69%;
	border: solid 0px #eae43a;
	margin: 0.2em;
	padding: 0 15%;
}
.octicon {
	display: inline;
	float: right;
	width: 14px;
	margin: 0.2em;
	padding-right: 15%;
}
.placeholder {
	height: 300px;
	width: 100%;
	border: solid 1px black;
}
.bio {
/*	font-family: 'lucida grande';*/
	font-size: 14px;
	line-height: 1;
}
.cv {
	padding: 0 15%;
}
.footer {
	margin-top: 4em;
	align-content: flex-end;
}
#navigation {
	margin-bottom: 4em;
}
#writing p{
	color: grey;
}
