body {
	font-family: 'consolas', sans-serif, monospace;
	padding: 2em 7em;
/*	background: #fffdef;*/
/*	background: #f2f1ed;*/
	color: black;
	font-weight: light;
	font-size: 11px;
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0.2em;
}

h3 {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0.2em;
}

.col-xs-6, .col-sm-3, .col-md-3, .col-lg-3 {
}
.box {
	margin: 0.2em;
}
.nav {
	font-size: 1em;
	height: 1em;
	padding: 0.2em;
	border-bottom: solid 1px black;
}
.project {
	width: 140px;
	height: 240px;
	/*border: solid 20px #eae43a;*/
	border: solid 1px black;
}
.footer {
	margin-top: 4em;
	align-content: flex-end;
}