body {
	font-family: 'arial', sans-serif, monospace;
	padding: 2em 7em;
/*	background: #fffdef;*/
/*	background: #f2f1ed;*/
	background: white;
	color: black;
	font-weight: light;
	font-size: 11px;
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0.2em;
}

h3 {
	display: none;
	color: black;
	font-size: 1.2em;
	font-weight: bolder;
	margin: 4em 0.2em 0 0.2em;
	-ms-transform: skew(30deg,2deg); 
  -webkit-transform: skew(30deg,2deg); 
  transform: skew(30deg,2deg); 
}

h4 {
	color: black;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em 0;
}
p {
	color: grey;
	margin: 0.2em 0;
}

.col-xs-6, .col-sm-3, .col-md-3, .col-lg-3 {
}
.box {
	margin: 0.2em;
}
.nav {
	font-size: 1em;
	height: 1em;
	padding: 0.2em;
	border-bottom: solid 1px black;
}
.project {
	border: solid 0px black;
	margin-bottom: 2em;
}
.project img {
	width: 100%;
	border: solid 0px #eae43a;
	margin: 0.2em;
}
.placeholder {
	height: 300px;
	width: 100%;
	border: solid 1px black;
}
.footer {
	margin-top: 4em;
	align-content: flex-end;
}
#navigation {
	margin-bottom: 4em;
}
