$font: 'Lora', serif;
$sub-font: 'Open Sans', sans-serif;
$dec-font: 'Inconsolata', sans-serf;

$accent: red;
$hov: #89893d;
$turq: #217596;
$och: #77770a;
$text: black;
$mute: grey;
$bg: #aaaaaa;
// $bg: url('../../public/images/felt.png');

$align: left;

@media (max-width: 720px) {
	body {
		padding: 0.4em !important;
	}
	.fixed-nav {
		display: none;
	}
	h1 {
		font-size: 2em !important;
	}
	.links a {
		margin: 0 !important;
	}
	.project.box {
		border: none !important;
		padding: 0.4em !important;
	}
}
@media (min-width: 720px) and (max-width: 1024px) {
	body {
		padding: 2em 1em !important;
	}
}
@media (min-width: 1024px) and (max-width: 1400px) {
	body {
		padding: 2em !important;
	}
}

body {
  background: $bg;
  padding: 2em;
  color: $text;
  font-size: 12px;
}

h1 {
  color: $text;
  font-family: $font;
  font-weight: normal;
  font-size: 4em;
  padding: 0.1em 0;
	margin: 0;
  text-align: $align;
}

h2 {
	color: $text;
	font-size: 2em;
	font-weight: normal;
	padding: 0.4em 0;
  -webkit-margin-after: 22px;
	margin: 0;
  font-family: $font;
  text-align: $align;
}

h3 {
  font-family: $font;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0.5em 0;
}

h4 {
	color: $text;
	font-size: 1em;
	font-weight: normal;
	padding: 0.4em 0;
	margin: 0;
	font-family: $font;
	border-bottom: solid 1px $text;
	text-align: $align;
	display: inline-block;
}

p {
	font-family: $sub-font;
}

.fixed-nav {
	background: $bg;
  position: fixed;
  top: 38px;
  right: 38px;
  width: 116px;
  // height: 116px;
  // border-radius: 136px;
  // padding: 0.4em;
  height: calc(64*6);
  border: solid 1px $text;
	// -webkit-animation: breathing 1s ease-out 1 normal;
	// animation: breathing 1s ease-out 1 normal;
  p {
    // position: absolute;
    // text-align: left;
    // top: -1.4em;
    // right: 0;
    padding: 0.2em 0;
    margin: 0;
    color: $text;
    font-family: $font;
		line-height: 1.2em;
		text-align: center;
		border-bottom: 1px solid $text;
  }
  img.nav-icon {
    box-sizing: border-box;
    padding: 5px;
    width: 58px;
		cursor: help;
  }
}
/* Hover tooltips */
.tooltip {
  position: relative;
	// cursor: help;
}
span.tip-content {
	position:absolute;
	top: -1em;
	width: auto;
	color: $text;
	background: $mute;
	opacity: 0;
	-webkit-transition:opacity 100ms ease-out;
	-moz-transition:opacity 100ms ease-out;
	-ms-transition:opacity 100ms ease-out;
	-o-transition:opacity 100ms ease-out;
	transition:opacity 100ms ease-out;
}
.tooltip:hover .tip-content {
	opacity: 1;
	z-index: 2000;
}

.nav {
	font-size: 1em;
	height: 1em;
	padding: 10px 0;
  text-align: $align;
	border-bottom: solid 1px $mute;
}

.navigation {
  -webkit-margin-after: 22px;
}

a {
	text-decoration: none;
	color: $text;
  font-family: $sub-font;
}

a:hover {
	text-decoration: none;
  cursor: pointer;
}

.project.box {
  margin: 2em 1em 2em 0;
	padding: 4.4em;
	// border: solid 1px $mute;
	// -webkit-box-shadow: 7px 6px 59px -5px rgba(232,255,61,0.96);
	// -moz-box-shadow: 7px 6px 59px -5px rgba(232,255,61,0.96);
	// box-shadow: 7px 6px 59px -5px rgba(232,255,61,0.96);
}

.project p {
  font-family: $sub-font;
  font-size: 1.1em;
	line-height: 1.6em;
  margin-top: 0;
}
.project p.type {
  color: $mute;
}

.project .desc {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1.6s ease;
}
.project:hover .desc {
  max-height: 1000px;
}

.thumbnail {
	//padding: 0 10%;
	width: 100%;
	//transition: padding 0.3s, width 0.3s;
}

// .thumbnail:hover {
// 	padding: 0 9%;
// 	width: 82%;
// }

@keyframes breathing {
  0%, 70% {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
		transform: translateY(-15px);
  }
  25%, 100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
		transform: translateY(0);
  }
}

.octicon {
  // display: inline-block;
	// margin: 1em 0 0.5em 0;
	padding: 0 0.3em;
	border: solid 1px $mute;
  float: right;
}

.about {
	text-align: left;
	ul {
		padding: 0;
		list-style: none;
		font-size: 18px;
		li.desc p {
			color: $text;
			padding: 0;
		}
		li {
			color: $accent;
			p {
				color: $text;
			}
		}
	}
}

.links a {
	font-family: $font;
	padding: 0.3em;
	// margin-right: 1em;
	display: inline-block;
	font-size: 22px;
	border-left: solid 1px $mute;
	border-top: solid 1px $mute;
	border-bottom: solid 1px $mute;
}
.links a:last-child {
	border-right: solid 1px $mute;
}
.links a:hover {
	color: $text;
	border-bottom: solid 1px $text;
}

.map {
	position: relative;
	width: 100%;
	height: 800px;
	#name {
		position: absolute;
		font-size: 44px;
		top: 26%;
		left: 20%;
		background-color: #3397bf;
		padding: 1em;
		box-shadow: 0 0 70px 50px $bg inset;
		display: inline-block;
		z-index: 100;
	}
	.cloud {
		font-family: $font;
		font-size: 40px;
		background-color: $mute;
		padding: 0.6em;
		box-shadow: 0 0 50px 30px $bg inset;
		display: inline-block;
	}
	.cloud.link-1 {
		position: absolute;
		top: 45%;
		right: 0;
	}
	.cloud.link-2 {
		position: absolute;
		left: 20%;
		bottom: 24%;
	}
	.cloud.link-3 {
		position: absolute;
		left: 0;
		top: 5%;
	}
}
