@font-face {
  font-family: 'graphik';
  src: url(/public/Graphik-Regular.otf);
}

$phone-width: 320px;
$phoneL-width: 480px;
$tablet-width: 600px;
$tabletL-width: 768px;
$desktop-width: 1025px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
	font-family: 'graphik', 'Open Sans', sans-serif;
	line-height: 1.6rem;
	background: #ffffff;
	position: relative;
}
.scroll-fix {
	height: 600px;
  @include phone {
    width: 0;
  }
  @include tablet {
    width: 7rem;
  }
  @include desktop {
    width: 15rem;
  }
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
.app {
  @include phone {
    padding: 0rem 1rem;
    font-size: 25%;
  }
  @include tablet {
    padding: 0.7rem 8rem;
  }
  @include desktop {
    padding: 1rem 16rem;
  }
	margin: auto;
}
h1, h2 {
	font-family: 'Archivo Black', sans-serif;
}
#title {
  @include phone {
    font-size: 1.4rem;
  }
	font-size: 2.8rem;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: blue;
}
ul.leaders {
	font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  @include phone {
    line-height: 1rem;
  }
	line-height: 2rem;
	li a {
		font-weight: bolder;
		letter-spacing: 2px;
	}
  li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #684949;
    content: "________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________";
  }
  span:first-child {
    font-weight: 600;
    padding-right: 0.33em;
    background: #ffffff;
  }
  span:first-child:hover {

  }
  span + span {
		letter-spacing: 1px;
    float: right;
    padding-left: 0.33em;
    background: #ffffff;
  }
  li p.project-desc {
    max-height: 0px;
    margin: 0;
    overflow: hidden;
    -webkit-transition: max-height 4s ease;
    transition: max-height 4s ease;
    line-height: 1.6rem;
    padding-left: 1rem;
    font-family: 'graphik', 'Open Sans', sans-serif;
    border-left: 4px solid white;
  }
  li:hover .project-desc {
    margin: 0;
    max-height: 1000px;
    padding-left: 1rem;
    border-left: 4px solid blue;
  }
}
.links {
	a {
		padding: 0.4rem;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-left: 1px solid black;
	}
	a:last-child {
		border-right: 1px solid black;
	}
}
.scroll-head {
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: visible;
  }
	position: fixed;
	top: 2.8rem;
	left: 1.4rem;
	padding: 0.4rem;
	font-size: 2rem;
	font-family: 'Archivo Black', sans-serif;
	color: black;
}
.screenshot span {
	height: 100%;
}
.screenshots {
	margin: 4rem 0;
}
.thumbnail {
	width: 100%;
  @include phone {
    margin-bottom: 1rem;
  }
	margin-bottom: 4rem;
}
.footer {
	// color: #684949;
  text-align: left;
  h2 {
    // font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0;
    z-index: 1000;
  }
  svg {
    z-index: -1;
    margin: auto;
  }
}
