$font: 'Lora', serif;
$sub-font: 'Open Sans', sans-serif;
$dec-font: 'Inconsolata', sans-serf;

$accent: red;
$hov: #89893d;
$turq: #3397bf;
$text: black;
$mute: grey;
$bg: #aaaaaa;
// $bg: url('images/felt.png');

$align: center;

@media (max-width: 720px) {
	body {
		padding: 2em 1em !important;
	}
}
@media (min-width: 720px) and (max-width: 1024px) {
	body {
		padding: 2em 10em !important;
	}
}
@media (min-width: 1024px) and (max-width: 1400px) {
	body {
		padding: 2em 12em !important;
	}
}

body {
  background: $bg;
  padding: 2em 20em;
  color: $text;
  font-size: 12px;
}

h1 {
  color: $text;
  font-family: $font;
  font-weight: normal;
  font-size: 2.8em;
  padding: 0.3em 0;
  border-bottom: solid 1px $text;
  -webkit-margin-after: 22px;
  text-align: $align;
	// display: inline-block;
}

h2 {
	color: $text;
	font-size: 1.8em;
	font-weight: normal;
	padding: 0.4em 0;
  -webkit-margin-after: 22px;
  font-family: $font;
	// border-bottom: solid 1px $accent;
  text-align: $align;
	// display: inline-block;
}

.fixed-nav {
  position: absolute;
  left: 40px;
  top: 60px;
  width: 128px;
  height: calc(64*6);
  border: solid 1px $text;
  p {
    text-align: center;
    padding: 0.2em 0;
    margin: 0;
    border-bottom: 1px solid $text;
  }
  img.nav-icon {
    box-sizing: border-box;
    padding: 5px;
    width: 64px;
  }
}

.nav {
	font-size: 1em;
	height: 1em;
	padding: 10px 0;
  text-align: $align;
	border-bottom: solid 1px $mute;
}

.navigation {
  -webkit-margin-after: 22px;
}

a {
	text-decoration: none;
	color: $text;
  font-family: $sub-font;
}

a:hover {
	text-decoration: none;
	color: $hov;
  cursor: pointer;
}

.project.box {
  margin: 2em 1em;
}

.project h3 {
  font-family: $font;
  font-size: 1.6em;
  font-weight: normal;
  // display: inline-block;
  margin: 0.5em 0;
}

.project p {
  font-family: $sub-font;
  font-size: 1em;
  margin-top: 0;
}
.project p.type {
  color: $mute;
}

.thumbnail {
	width: 100%;
	border: solid 0px #eae43a;
}

.octicon {
  // display: inline-block;
	// margin: 1em 0 0.5em 0;
  float: right;
}

.about {
	text-align: left;
	ul {
		padding: 0;
		list-style: none;
		font-size: 18px;
		line-height: 0.6em;
		li.desc p {
			color: $text;
			padding: 0;
		}
		li {
			color: $accent;
			p {
				padding-left: 1em;
				color: $text;
			}
		}
	}
	.links p {
		margin-right: 0.5em;
		display: inline-block;
		font-size: 20px;
		border-bottom: solid 1px $text;
	}
}
